<!-- assignment 1 - task 1 -->
<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <!-- assignment 1 - task 2 -->
  <div fxFlex="40" *ngIf="dish"  [@visibility]="visibility">
    <!--<p>Display the details of the Dish here</p>-->
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ baseURL + dish.image }}" alt={{dish.name}}>
      <mat-card-content>
        <p>
          {{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-actions>

    </mat-card>
  </div>
  <div fxFlex *ngIf="dish"  [@visibility]="visibility">
    <!--<p>Display the list of comments here</p>-->
    <!-- assignment 1 - task 3 -->
    <p><strong>Comments</strong></p>

    <mat-list fxFlex>
      <mat-list-item *ngFor="let comment of dish.comments">
        <p mat-line>{{comment.comment}}</p>
        <p mat-line><span>{{comment.rating}} stars</span></p>
        <p mat-line>
          <span>-- {{comment.author}}  {{comment.date | date}} </span>
        </p>
      </mat-list-item>
      <!-- Assignment 3 - Task 3-->
      <mat-list-item *ngIf="commentsForm.valid">
        <p mat-line>{{comment.comment}}</p>
        <p mat-line><span>{{comment.rating}} stars</span></p>
        <p mat-line>
          <span>-- {{comment.author}} </span>
        </p>
      </mat-list-item>
    </mat-list>

    <!-- Assignment 3 - Tasks 1 and 2-->
    <!--<hr />-->
    <div class="container"
     fxLayout="column"
     fxLayout.sm="column"
     fxLayout.xs="column">
      <!--<h3>Input your Comments</h3>
    <p>{{ commentsForm.value | json }} {{ commentsForm.status | json }}</p>-->
      <form novalidate [formGroup]="commentsForm" (ngSubmit)="onSubmit()" class="full-width" fxFlex fxFlexDirection>
        <p>
          <mat-form-field class="full-width">
            <input matInput formControlName="author" placeholder="Name" type="text" required>
            <mat-hint>
              <span [hidden]="!(formErrors.author)">
                {{formErrors.author}}
              </span>
            </mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-slider formControlName="rating" min="1" max="5" step="1" thumbLabel tickInterval="1"></mat-slider>
        <p>
          <mat-form-field class="full-width">
            <textarea matInput formControlName="comment" placeholder="Your Comment" rows="5" required></textarea>
            <mat-hint>
              <span [hidden]="!(formErrors.comment)">
                {{formErrors.comment}}
              </span>
            </mat-hint>
          </mat-form-field>
        </p>
        <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentsForm.invalid">Submit</button>
      </form>
    </div>
  </div>
  <div [hidden]="dish">
    <mat-spinner></mat-spinner><h4>Cargando ...</h4>
  </div>
</div>

